<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>瀑布流（UICollectionView）实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A98BE051C99A10D0045FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A98BE1E1C99A10D0045FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A98BE291C99A10D0045FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
